header{
    width: 100%;
    background: white;
    min-width: 320px;
    height: 50px;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    
    nav{
        width: 100%;
        height: 50px;
        ul{
            width: 100%;
            height: 50px;
            display: flex;
            align-items: center;
            justify-content: space-around;
            li{
                width: calc(100% / 4);
                height: 50px;
                
                display: flex;
                align-items: center;
                justify-content: center;
                list-style: none;
                cursor: pointer;
                &:hover{
                    background: rgba(104, 103, 103, 0.409);
                }
                a{
                    text-decoration: none;
                    color: black;
                    font-size: 18px;
                }
            }
        }
    }
    
}