* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    margin-top: 50px;
    // width: 100%;
    max-width: 1040px;
    height: auto;
    display: flex;
    justify-content: center;
        font-family: "Lato", sans-serif;

    section {
        width: 100%;
        margin-top: 50px;
        height: auto;
        padding: 0 30px;

        .marketing {
            width: 100%;

            h2 {
                font-size: 35px;
                text-transform: uppercase;
                font-weight: 600;
            }

            p {
                font-weight: 500;
            }
        }

        .carousel-indicators {
            >button {
                height: 10px !important;
                box-shadow: 0px 0px 2px 8px rgb(57, 52, 52) inset;
            }
        }

        .direction {
            width: 100%;
            height: 50px;
            background: #616161;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0px 10px;

            >button {
                background: transparent !important;
                border: none;

                .next {
                    transform: rotate(180deg);
                    fill: white;

                    &:hover {
                        fill: rgb(35, 156, 99);
                    }
                }

                .prev {
                    fill: white;

                    &:hover {
                        fill: rgb(35, 156, 99);
                    }
                }
            }





        }


        .offer {
            width: 100%;
            height: auto;
            margin-top: 60px;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;

            .name {
                width: 100%;
                height: auto;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                gap: 15px;
                .underline {
                    width: 200px;
                    height: 5px;
                    background: #616161;

                }
            }
        }

        .things {
            margin-top: 50px;
            width: 100%;
            height: auto;
            display: flex;
            flex-wrap: wrap;

            >.box {
                width: calc(100% / 4);
                min-width: 200px;
                height: 200px;
                padding: 20px 7px;

                >h5 {
                    font-size: 23px;
                }

                >p {
                    font-weight: 400;
                }
            }

            .design {
                background: white;
            }

            .branding {
                background: #9E9E9E;
            }

            .consultation {
                background: #616161;

                >h5,
                p {
                    color: white;
                }
            }

            .promises {
                background: black;

                >h5,
                p {
                    color: white;
                }
            }

            @media screen and (max-width:991px) {

                //   flex-wrap: wrap;
                .box {
                    width: calc(100% / 2);
                }

            }

            @media screen and (max-width:600px) {
                .box {
                    width: 100%;
                }
            }
        }



        .plans {
            width: 100%;
            height: auto;
            margin-top: 60px;

            .name {
                width: 100%;
                height: auto;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
            }

            .levels {
                width: 100%;
                height: max-content;
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 15px;
                margin-top: 60px;

                .type {
                    width: calc(100% / 3);
                    border: groove 2px;
                    border-bottom: none;
                    &:hover{
                        box-shadow: 0 0 8px rgb(74, 73, 73);
                    }
                }

                .type {
                    >ul {
                        width: 100%;

                        .first {
                            // padding: 23px 140px;
                            font-size: 2vw;
                            background: black;
                            color: white;
                        }

                        .graypro {
                            // padding: 23px 140px;
                            font-size: 2vw;
                            background: #616161;
                            color: white;
                        }

                        >li {
                            text-align: center;
                            padding: 20px;
                            // box-shadow: 0 0 1px;
                            border-bottom: groove 2px;
                            list-style: none;

                            >button {
                                padding: 11px 22px;
                                background-color: #449C48;
                                color: white;
                                border: none;

                                &:hover {
                                    background: #c0bcbcc8;
                                    color: black;
                                }
                            }
                        }
                    }
                }
            }
            @media screen and (max-width:600px) {
            .levels {
                flex-direction: column;

                >div {
                    width: 100% !important;
                }
            }
        }
        }

        
    }

    .persons {
        margin-top: 50px;

        .name {
            width: 100%;
            height: auto;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            gap: 15px;

            .underline {
                width: 150px;
                height: 5px;
                background: #616161;

            }
        }

        .people {
            margin-top: 50px;
            width: 100%;
            display: flex;
            // justify-content: center;
            // align-items: flex-start;
            gap: 15px;
            

            .worker {
                min-width: calc(100% / 3) !important;
                // height: 464px;

                .img-john {
                    background-image: url(./image/John.jpg);
                }

                .img-jane {
                    background-image: url(./image/Jane.jpg);
                }

                .img-mike {
                    background-image: url(./image/Mike.jpg);
                }

                .img {
                    width: 100%;
                    height: 220px;
                    background-size: cover ;
                    background-position: center center;
                }
                .about{
                    padding: 10px 15px;
                    display: flex;
                    flex-direction: column;
                    gap: 13px;
                    box-shadow: 0 0 8px black;
                    >button{
                        padding: 5px 15px;
                        border: none;
                        &:hover{
                            background: rgba(141, 139, 139, 0.637);
                        }
                    }
                }
            }
        }


        @media screen and (max-width:600px) {
            .people{
                flex-direction: column !important;
                .worker{
                    width: 100%;
                }
            }
        }

    }

    .contact{
        margin-top: 70px;
        width: 100%;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 60px;
        .name {
            width: 100%;
            height: auto;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            gap: 15px;

            .underline {
                width: 150px;
                height: 5px;
                background: #616161;

            }
        }
        form{
            width: 100%;
            height: auto;
            display: flex;
            justify-content: center;
            flex-direction: column;
            gap: 15px;
            font-weight: 500;
            .input{
                width: 100%;
                height: 40px;
                padding: 5px 10px;
            }
            >button{
                width: 100%;
                height: 40px;
                background: black;
                color: white;
                &:hover{
                    background: rgba(163, 162, 162, 0.635);
                    color: black;
                }
            }
        }
    }

}