*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section{
    position: relative;
        max-width: 1040px;
        min-width: 320px;
        margin: auto;
    @import './header.scss';
    @import './main.scss';
    @import './footer.scss';

}